# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/

# Data
data/**/*.csv
data/**/*.h5
data/**/*.zip
data/raw/Garbage_Dataset_Classification/**/*.jpg
data/raw/sample_dataset/**/*.jpg
data/interim/**/*.jpg
data/processed/**/*.jpg
data/**/*.png

# Logs
*.log

# IDEs
.vscode/
.idea/

# uv
uv.lock

# Models
models/**/*.png
models/**/*.pdf
models/**/*.jpg

# Source
source/modeling/**/*.jpg

# +Source
source/lightning_logs/

# Notebooks
notebooks/.ipynb_checkpoints/

# Virtual documents
.virtual_documents/

