# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/

# Data
data/
*.csv
*.h5
*.zip
*.jpg

# Data raw
data/raw/*

# Logs
*.log

# IDEs
.vscode/
.idea/

# uv
uv.lock

# Models
models/
*.pth

# Source
source/modeling/
*.jpg
notebooks/.ipynb_checkpoints/

# +Source
source/lightning_logs/*
